html,
body {
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
    color: #454648;
}